:root {
    --general-bg-color: #F44336;
    --general-color: #fff;
    --nav-bg-color: #F44336;
    --menu-item-active-color: #F44336;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background: #e9e9e9;
}

input.dirty {
    border-color: red;
}

/* 
.overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}

.ls-opened .overlay {
    display: block;
} */

.navbar-nav>li>a, .navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    background: transparent;
    outline: 0;
}

a, a:hover, a:focus, a:visited {
    color: #fff;
    background: transparent;
    cursor: pointer;
    outline: 0;
}

button:active, button:focus, button:visited, .btn:active, .btn:focus, .btn:visited, li>a, li>a:hover, li>a:focus {
    outline: 0;
}

.navbar {
    font-family: "Roboto", sans-serif;
    border-radius: 0px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    background-color: var(--nav-bg-color);
}

.navbar .navbar-brand {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 70px;
    padding: 24px 20px;
    font-size: 18px;
}

.navbar-nav>li>a {
    padding: 7px 7px 2px 7px;
    margin-top: 17px;
    margin-left: 5px;
}

.navbar .navbar-toggle:before {
    content: '\E8D5';
    font-family: 'Material Icons';
    font-size: 26px;
}

.navbar .navbar-toggle {
    text-decoration: none;
    color: #fff;
    width: 20px;
    height: 20px;
    margin-top: -4px;
    margin-right: 17px;
    padding-top: 22px;
}

.navbar .navbar-header .bars {
    display: none;
    font-family: 'Material Icons';
    font-size: 24px;
    position: absolute;
    top: 16px;
    left: 20px;
    margin-right: 10px;
    text-decoration: none;
}

/* SEARCH BAR */

.search-bar {
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 999;
    display: inline-flex;
    color: #999;
    position: fixed;
    top: -70px;
    left: 0;
    transition: all 0.5s;
}

.search-bar input[type="text"] {
    width: 100%;
    font-size: 16px;
    padding: 25px 60px 23px 56px;
    border: none;
    color: #000;
}

.search-bar input[type="text"]:focus {
    outline: 0;
}

.search-bar .search-icon {
    position: absolute;
    top: 20px;
    left: 14px;
    font-size: 1.2em;
}

.search-bar .search-icon .material-icons {
    font-size: 32px;
}

.search-bar .close-search .material-icons:hover {
    opacity: .5;
    cursor: pointer;
}

.search-bar .close-search .material-icons {
    transition: 0.5s;
    margin: 22px 15px;
}

.search-bar.open {
    top: 0;
}

/* END SEARCH BAR */

/* LEFT SIDE BAR */

.sidebar {
    transition: all 0.5s;
    font-family: "Roboto", sans-serif;
    background: #fff;
    width: 300px;
    overflow: hidden;
    display: inline-block;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    left: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 11 !important;
}

.ls-closed .sidebar {
    left: -300px;
}

.ls-opened .sidebar {
    left: 0px;
}

/* USER INFO */

.sidebar .user-info {
    height: 135px;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    padding: 13px 15px 12px 15px;
    background: url("../img/user-img-background.jpg");
}

.sidebar .user-info .image img {
    border-radius: 50%;
    vertical-align: bottom !important;
}

.sidebar .user-info .info-container {
    position: relative;
    top: 25px;
}

.sidebar .user-info .info-container .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    max-width: 200px;
    color: #fff;
}

.sidebar .user-info .info-container .email {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    max-width: 200px;
    color: #fff;
}

.sidebar .user-info .info-container .user-helper-dropdown {
    position: absolute;
    right: -3px;
    top: 20px;
    color: #fff;
    cursor: pointer;
}

/* END USER INFO  */

/* MENU */

.sidebar .menu {
    position: relative;
    overflow-y: auto;
}

.sidebar .menu .list .header {
    background: #eee;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 16px;
}

.sidebar .menu .list a:hover, .sidebar .menu .list a:active, .sidebar .menu .list a:focus {
    text-decoration: none !important;
}

.sidebar .menu .list {
    list-style: none;
}

.sidebar .menu .list li i.material-icons {
    margin-top: 4px;
}

.sidebar .menu .list a span {
    margin: 7px 0 7px 12px;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
}

.sidebar .menu .list a {
    color: #747474;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    padding: 10px 13px;
}

.sidebar .menu .list .active * {
    color: var(--menu-item-active-color);
}

/* END MENU */

/* LEGAL */

.sidebar .legal {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #e9e9e9;
    background: #fff;
    z-index: 12;
    line-height: 2em;
    padding: 10px 10px 8px 10px;
    width: 100%;
}

.sidebar .legal b {
    color: var(--general-bg-color);
}

/* END LEGALE */

/* END LEFT SIDE BAR */

/* Right Side Bar */

.right-side-bar {
    transition: all 0.5s;
    font-family: "Roboto", sans-serif;
    background: #fff;
    width: 280px;
    overflow: hidden;
    display: inline-block;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    right: -300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 11 !important;
}

.right-side-bar.open {
    right: 0;
}

/* Skin List */

.skin-list li {
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 10px 10px 4px 10px;
    background: #fff;
}

.skin-list li:hover {
    background: #eee;
    cursor: pointer;
}

.skin-list li.active {
    background: #eee;
}

.skin-list li i {
    display: none;
    position: absolute;
    right: 10px;
    top: 8px;
}

.skin-list li.active>i {
    display: inline-block;
}

.skin-list li div {
    display: inline-flex;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.skin-list li span {
    position: relative;
    bottom: 7px;
    left: 5px;
    text-transform: capitalize;
}

/* End Skin List */

/* Settings */

#settings div {
    border-bottom: 1px solid #eee;
}

#settings .heading {
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

/* End Settings */

/* End Right Side Bar */

/* CONTENT */

.content {
    margin: 100px 15px 15px 315px;
    transition: all 0.5s;
}

.body .table .project-name {
    background: #ccc;
    padding: 10px;
    border-top-left-radius: 5px;
    font-weight: bold;
}

/* END SEARCH BOX */

/* END CONTENT */

@media (min-width: 768px) and (max-width: 1169px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 20px;
    }
    .content {
        margin: 100px 30px 0 30px;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-header {
        display: inline-block;
        width: calc(100% + 30px);
    }
    .navbar .nav>li {
        display: inline-block;
    }
    .navbar .navbar-nav {
        margin-top: -10px;
        margin-left: -7px;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 35px;
        width: 73%;
    }
    .content {
        margin: 100px 30px 0 30px;
    }
}

/* Radio _ Cover */

.radio-cover {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    text-align: center;
}

/* Hide the browser's default radio button */

.radio-cover input[type='radio'] {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    font-weight: bold;
}

/* Create a custom radio button */

.checkmark {
    border: 1px solid #ccc;
    border-radius: .5rem;
    display: block;
    padding: 10px;
    white-space: nowrap;
}

/* When the radio button is checked, add a blue background */

.radio-cover input[type='radio']:checked~.checkmark {
    background-color: #f36c00;
    border-color: #f36c00;
    color: #fff;
}

/* End Radio _ Cover */

/* Modal's Scroll Inside of it*/

.modal-dialog {
    overflow-y: initial !important
}

.modal-lg .modal-body {
    height: 450px;
    overflow-y: auto;
}

/* DROP DOWN */

.dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin-top: -7px !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

.dropdown-menu .divider {
    margin: 5px 0;
}

.dropdown-menu .header {
    font-size: 13px;
    font-weight: bold;
    min-width: 270px;
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 4px 0 6px 0;
}

.dropdown-menu ul.menu {
    padding-left: 0;
}

.dropdown-menu ul.menu.tasks h4 {
    color: #333;
    font-size: 13px;
    margin: 0 0 8px 0;
}

.dropdown-menu ul.menu.tasks h4 small {
    float: right;
    margin-top: 6px;
}

.dropdown-menu ul.menu.tasks .progress {
    height: 7px;
    margin-bottom: 7px;
}

.dropdown-menu ul.menu .icon-circle {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    display: inline-block;
}

.dropdown-menu ul.menu .icon-circle i {
    font-size: 18px;
    line-height: 36px;
}

.dropdown-menu ul.menu li {
    border-bottom: 1px solid #eee;
}

.dropdown-menu ul.menu li:last-child {
    border-bottom: none;
}

.dropdown-menu ul.menu li a {
    padding: 7px 11px;
    text-decoration: none;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.dropdown-menu ul.menu li a:hover {
    background-color: #e9e9e9;
}

.dropdown-menu ul.menu .menu-info {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 5px;
}

.dropdown-menu ul.menu .menu-info h4 {
    margin: 0;
    font-size: 13px;
    color: #333;
}

.dropdown-menu ul.menu .menu-info p {
    margin: 0;
    font-size: 11px;
    color: #aaa;
}

.dropdown-menu ul.menu .menu-info p .material-icons {
    font-size: 13px;
    color: #aaa;
    position: relative;
    top: 2px;
}

.dropdown-menu .footer a {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 5px 0 5px 0;
    font-size: 12px;
    margin-bottom: -5px;
}

.dropdown-menu .footer a:hover {
    background-color: transparent;
}

.dropdown-menu>li>a {
    padding: 7px 18px;
    color: #666;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 14px;
    line-height: 25px;
}

.dropdown-menu>li>a:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.dropdown-menu>li>a i.material-icons {
    float: left;
    margin-right: 7px;
    margin-top: 2px;
    font-size: 20px;
}

.dropdown-animated {
    -webkit-animation-duration: .3s !important;
    -moz-animation-duration: .3s !important;
    -o-animation-duration: .3s !important;
    animation-duration: .3s !important;
}

/* END DROP DOWN */

/* CARD */

.card {
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.card .card-inside-title {
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    font-size: 15px;
    color: #000;
}

.card .card-inside-title small {
    color: #999;
    display: block;
    font-size: 11px;
    margin-top: 5px;
}

.card .card-inside-title small a {
    color: #777;
    font-weight: bold;
}

.card .card-inside-title:first-child {
    margin-top: 0;
}

.card .bg-red, .card .bg-pink, .card .bg-purple, .card .bg-deep-purple, .card .bg-indigo, .card .bg-blue, .card .bg-light-blue, .card .bg-cyan, .card .bg-teal, .card .bg-green, .card .bg-light-green, .card .bg-lime, .card .bg-yellow, .card .bg-amber, .card .bg-orange, .card .bg-deep-orange, .card .bg-brown, .card .bg-grey, .card .bg-blue-grey, .card .bg-black {
    border-bottom: none !important;
    color: #fff !important;
}

.card .bg-red h2, .card .bg-red small, .card .bg-red .material-icons, .card .bg-pink h2, .card .bg-pink small, .card .bg-pink .material-icons, .card .bg-purple h2, .card .bg-purple small, .card .bg-purple .material-icons, .card .bg-deep-purple h2, .card .bg-deep-purple small, .card .bg-deep-purple .material-icons, .card .bg-indigo h2, .card .bg-indigo small, .card .bg-indigo .material-icons, .card .bg-blue h2, .card .bg-blue small, .card .bg-blue .material-icons, .card .bg-light-blue h2, .card .bg-light-blue small, .card .bg-light-blue .material-icons, .card .bg-cyan h2, .card .bg-cyan small, .card .bg-cyan .material-icons, .card .bg-teal h2, .card .bg-teal small, .card .bg-teal .material-icons, .card .bg-green h2, .card .bg-green small, .card .bg-green .material-icons, .card .bg-light-green h2, .card .bg-light-green small, .card .bg-light-green .material-icons, .card .bg-lime h2, .card .bg-lime small, .card .bg-lime .material-icons, .card .bg-yellow h2, .card .bg-yellow small, .card .bg-yellow .material-icons, .card .bg-amber h2, .card .bg-amber small, .card .bg-amber .material-icons, .card .bg-orange h2, .card .bg-orange small, .card .bg-orange .material-icons, .card .bg-deep-orange h2, .card .bg-deep-orange small, .card .bg-deep-orange .material-icons, .card .bg-brown h2, .card .bg-brown small, .card .bg-brown .material-icons, .card .bg-grey h2, .card .bg-grey small, .card .bg-grey .material-icons, .card .bg-blue-grey h2, .card .bg-blue-grey small, .card .bg-blue-grey .material-icons, .card .bg-black h2, .card .bg-black small, .card .bg-black .material-icons {
    color: #fff !important;
}

.card .bg-red .badge, .card .bg-pink .badge, .card .bg-purple .badge, .card .bg-deep-purple .badge, .card .bg-indigo .badge, .card .bg-blue .badge, .card .bg-light-blue .badge, .card .bg-cyan .badge, .card .bg-teal .badge, .card .bg-green .badge, .card .bg-light-green .badge, .card .bg-lime .badge, .card .bg-yellow .badge, .card .bg-amber .badge, .card .bg-orange .badge, .card .bg-deep-orange .badge, .card .bg-brown .badge, .card .bg-grey .badge, .card .bg-blue-grey .badge, .card .bg-black .badge {
    background-color: #fff;
    color: #555;
}

.card .header {
    color: #555;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}

.card .header .header-dropdown {
    position: absolute;
    top: 20px;
    right: 15px;
    list-style: none;
}

.card .header .header-dropdown .dropdown-menu li {
    display: block !important;
}

.card .header .header-dropdown li {
    display: inline-block;
}

.card .header .header-dropdown i {
    font-size: 20px;
    color: #999;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.card .header .header-dropdown i:hover {
    color: #000;
}

.card .header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #111;
}

.card .header h2 small {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    color: #999;
    line-height: 15px;
}

.card .header h2 small a {
    font-weight: bold;
    color: #777;
}

.card .header .col-xs-12 h2 {
    margin-top: 5px;
}

.card .body {
    font-size: 14px;
    color: #555;
    padding: 20px;
}

.card .body .col-xs-1, .card .body .col-sm-1, .card .body .col-md-1, .card .body .col-lg-1 {
    margin-bottom: 20px;
}

.card .body .col-xs-2, .card .body .col-sm-2, .card .body .col-md-2, .card .body .col-lg-2 {
    margin-bottom: 20px;
}

.card .body .col-xs-3, .card .body .col-sm-3, .card .body .col-md-3, .card .body .col-lg-3 {
    margin-bottom: 20px;
}

.card .body .col-xs-4, .card .body .col-sm-4, .card .body .col-md-4, .card .body .col-lg-4 {
    margin-bottom: 20px;
}

.card .body .col-xs-5, .card .body .col-sm-5, .card .body .col-md-5, .card .body .col-lg-5 {
    margin-bottom: 20px;
}

.card .body .col-xs-6, .card .body .col-sm-6, .card .body .col-md-6, .card .body .col-lg-6 {
    margin-bottom: 20px;
}

.card .body .col-xs-7, .card .body .col-sm-7, .card .body .col-md-7, .card .body .col-lg-7 {
    margin-bottom: 20px;
}

.card .body .col-xs-8, .card .body .col-sm-8, .card .body .col-md-8, .card .body .col-lg-8 {
    margin-bottom: 20px;
}

.card .body .col-xs-9, .card .body .col-sm-9, .card .body .col-md-9, .card .body .col-lg-9 {
    margin-bottom: 20px;
}

.card .body .col-xs-10, .card .body .col-sm-10, .card .body .col-md-10, .card .body .col-lg-10 {
    margin-bottom: 20px;
}

.card .body .col-xs-11, .card .body .col-sm-11, .card .body .col-md-11, .card .body .col-lg-11 {
    margin-bottom: 20px;
}

.card .body .col-xs-12, .card .body .col-sm-12, .card .body .col-md-12, .card .body .col-lg-12 {
    margin-bottom: 20px;
}

/* END CARD */

.nav-tabs {
    border-bottom: 2px solid #eee;
}

.nav-tabs>li {
    position: relative;
    top: 3px;
    left: -2px;
}

.nav-tabs>li>a {
    border: none !important;
    color: #999 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:active, .nav-tabs>li>a:focus {
    background-color: transparent !important;
}

.nav-tabs>li>a:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #2196F3;
    bottom: 2px;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.25s ease-in;
    -o-transition: 0.25s ease-in;
    -webkit-transition: 0.25s ease-in;
    transition: 0.25s ease-in;
}

.nav-tabs>li>a .material-icons {
    position: relative;
    top: 7px;
    margin-bottom: 8px;
}

.nav-tabs li.active a {
    color: #222 !important;
}

.nav-tabs li.active a:hover, .nav-tabs li.active a:active, .nav-tabs li.active a:focus {
    background-color: transparent !important;
}

.nav-tabs li.active a:before {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav-tabs+.tab-content {
    padding: 15px 0;
}

.nav-tabs.tab-col-red>li>a:before {
    border-bottom: 2px solid #F44336;
}

.nav-tabs.tab-col-pink>li>a:before {
    border-bottom: 2px solid #E91E63;
}

.nav-tabs.tab-col-purple>li>a:before {
    border-bottom: 2px solid #9C27B0;
}

.nav-tabs.tab-col-deep-purple>li>a:before {
    border-bottom: 2px solid #673AB7;
}

.nav-tabs.tab-col-indigo>li>a:before {
    border-bottom: 2px solid #3F51B5;
}

.nav-tabs.tab-col-blue>li>a:before {
    border-bottom: 2px solid #2196F3;
}

.nav-tabs.tab-col-light-blue>li>a:before {
    border-bottom: 2px solid #03A9F4;
}

.nav-tabs.tab-col-cyan>li>a:before {
    border-bottom: 2px solid #00BCD4;
}

.nav-tabs.tab-col-teal>li>a:before {
    border-bottom: 2px solid #009688;
}

.nav-tabs.tab-col-green>li>a:before {
    border-bottom: 2px solid #4CAF50;
}

.nav-tabs.tab-col-light-green>li>a:before {
    border-bottom: 2px solid #8BC34A;
}

.nav-tabs.tab-col-lime>li>a:before {
    border-bottom: 2px solid #CDDC39;
}

.nav-tabs.tab-col-yellow>li>a:before {
    border-bottom: 2px solid #ffe821;
}

.nav-tabs.tab-col-amber>li>a:before {
    border-bottom: 2px solid #FFC107;
}

.nav-tabs.tab-col-orange>li>a:before {
    border-bottom: 2px solid #FF9800;
}

.nav-tabs.tab-col-deep-orange>li>a:before {
    border-bottom: 2px solid #FF5722;
}

.nav-tabs.tab-col-brown>li>a:before {
    border-bottom: 2px solid #795548;
}

.nav-tabs.tab-col-grey>li>a:before {
    border-bottom: 2px solid #9E9E9E;
}

.nav-tabs.tab-col-blue-grey>li>a:before {
    border-bottom: 2px solid #607D8B;
}

.nav-tabs.tab-col-black>li>a:before {
    border-bottom: 2px solid #000000;
}

.nav-tabs.tab-col-white>li>a:before {
    border-bottom: 2px solid #ffffff;
}

/* SELF DEFINITION */

.fl-r {
    float: right;
}

.r-0 {
    right: 0;
}

.lft-auto {
    left: auto;
}

.mg-t-10 {
    margin-top: 10px;
}

.mg-0 {
    margin: 0;
}

.p-6 {
    padding: 6px !important;
}

.p-t-8 {
    padding-top: 8px;
}

.h-45 {
    height: 45px;
}

.min-width-0 {
    min-width: 0px;
}

.btn-mybtn {
    color: #fff;
    background-color: var(--general-bg-color);
    border-color: var(--general-bg-color);
}

.btn-mybtn:focus, .btn-mybtn.focus {
    color: #fff;
    background-color: var(--general-bg-color);
    border-color: var(--general-bg-color);
}

.btn-mybtn:hover {
    color: #fff;
    background-color: var(--general-bg-color);
    border-color: var(--general-bg-color);
}

.btn-mybtn:active, .btn-mybtn.active, .open>.dropdown-toggle.btn-mybtn {
    color: #fff;
    background-color: var(--general-bg-color);
    background-image: none;
    border-color: var(--general-bg-color);
}

.btn-mybtn:active:hover, .btn-mybtn.active:hover, .open>.dropdown-toggle.btn-mybtn:hover, .btn-mybtn:active:focus, .btn-mybtn.active:focus, .open>.dropdown-toggle.btn-mybtn:focus, .btn-mybtn:active.focus, .btn-mybtn.active.focus, .open>.dropdown-toggle.btn-mybtn.focus {
    color: #fff;
    background-color: var(--general-bg-color);
    border-color: var(--general-bg-color);
}

/* Overide */

.form-group-lg .bootstrap-select.form-control .dropdown-toggle, .form-group-sm .bootstrap-select.form-control .dropdown-toggle {
    font-size: inherit;
    line-height: 33px;
}

.red {
    background-color: #F44336;
}

.pink {
    background-color: #E91E63;
}

.purple {
    background-color: #9C27B0;
}

.deepPurple {
    background-color: #673AB7;
}

.indigo {
    background-color: #3F51B5;
}

.blue {
    background-color: #2196F3;
}

.lightBlue {
    background-color: #03A9F4;
}

.cyan {
    background-color: #00BCD4;
}

.teal {
    background-color: #009688;
}

.green {
    background-color: #4CAF50;
}

.lightGreen {
    background-color: #8BC34A;
}

.lime {
    background-color: #CDDC39;
}

.yellow {
    background-color: #ffe821;
}

.amber {
    background-color: #FFC107;
}

.orange {
    background-color: #FF9800;
}

.deepOrange {
    background-color: #FF5722;
}

.brown {
    background-color: #795548;
}

.grey {
    background-color: #9E9E9E;
}

.blueGrey {
    background-color: #607D8B;
}

.black {
    background-color: #000000;
}